samples/xml/directory_v1.xml

<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<grammars></grammars>
	<resources base="http://193.49.212.13:8080/Macchiato/Directory">
		<resource path="/">
			<method name="GET">
				<response>
					<representation mediaType="application/xml" />
					<representation mediaType="application/rdf+xml" />
				</response>
			</method>
			<resource path="location">
				<method name="GET">
					<request>
						<param name="latitrude" style="query" type="xs:double" />
						<param name="longitude" style="query" type="xs:double" />
						<param name="limit" style="query" default="10" type="xs:int" />
						<param name="angle" style="query" default="10" type="xs:int" />
					</request>
					<response>
						<representation mediaType="application/xml" />
						<representation mediaType="application/rdf+xml" />
					</response>
				</method>
			</resource>
			<resource path="{departement}">
				<method name="GET">
					<request></request>
					<response>
						<representation mediaType="application/xml" />
						<representation mediaType="application/rdf+xml" />
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>